@import "../../../assets/styles/variables.scss";

.card {
    width: 250px;
    margin: auto;
    margin-top: 20px;
    background-color: $red;
    box-shadow:         4px 5px 8px 0px rgba(50, 50, 50, 0.87);
}

.header-image {
    background-size: cover;
}

.mat-card-header{
    background-color: $white;
    padding-top: 10px;
    border-radius: 10px;
    box-shadow:         4px 5px 8px 0px rgba(50, 50, 50, 0.87);
}

.mat-card-title{
    text-transform: uppercase;
    color: $black;
}

.mat-card-subtitle{
    color: $black;
    font-weight: bold;
}

.mat-chip{
  box-shadow:         4px 5px 8px 0px rgba(50, 50, 50, 0.87);
}
