$red: #bd3736;
$black: black;
$white: #fcfcfc;
$yellow: #FFD924;
$blue: #006ace;
$sky: #37c5cf;
$grey: #535353;
$green: #00e7b5;
$indigo500: #3F51B5;
$indigo100: #c5cae9;
$indigo700: #303f9f;
$BG700: #455a64;
$BG300: #90A4AE;
$BG500: #607D8B;
$BG900: #263238;
